@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

.reports,
.products,
.team,
.reports {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#root {
  display: flex;
}

.card-box {
  display: flex;
  flex-direction: column;
  padding: 10;
  gap: 10;
  margin: 6px;
  width: 500px;
  margin: 0px 30px 0px 0px;
  margin-bottom: 30px;
}

.card-text {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  background: #fff;
  padding-top: 15px;
  font-size: 12px;
}

.card-title {
  margin: 14px 0px 0px 0px;
  font-weight: 700;
  font-size: 16px;
}

.card-details-title {
  margin: 0px 0px 0px 0px;
  font-weight: 700;
  font-size: 16px;
}

.card-title-wrapper {
  display: flex;
}

.card-is-open {
  margin-left: auto;
  margin-right: 0;
}

.card-img {
  border-radius: 20px;
  object-fit: cover;
  height: 200px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.card-button {
  margin: 8px 0px 0px 0px;
  border: none;
  padding: 5px;
  font-size: 11px;
  border-radius: 4px;
}

.restaurants-details-wrapper {
  display: flex;

}

.restaurants-details-card-img {
  border-radius: 16px;
  object-fit: cover;
  height: 300px;
}

.restaurants-details-text {
  margin: 10px;
}

.restaurants-details-sub-text {
  color: #626264;
  font-size: 14px;
  font-weight: 400;
}

.margin-text {
  margin-top: 20px;
  display: flex;
}

.padding-text {
  padding-left: 5px;
}

.margin-icon {
  margin: auto;
}

.hr-border {

  margin: 15%;
  border-top: 0px solid #A3A3A4;
}

.centered-box {
  margin: auto;
  width: 30%;
}


.menu-btn {
  padding: 10px 20px;
  background: #F7F7F7;
  border: none;
  color: #626264;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 20px 0px 0px;
  border-radius: 8px;
}

.activeBtn {
  background: #503E9D;
  color: #F7FAFC;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 700;
}


.card-doller {
  color: #503E9D;
  margin-left: auto;
  font-size: 16px;
  font-weight: 600;
  margin-right: 0;
}

.detailed-page-title {
  margin: 20px 0px 20px 0px;
}

.nav-wrapper {
  margin: 20px 10px 40px 0px;
  display: flex;
}

.search-bar {
  width: 385px;
  background: #F7F7F7;
  margin-right: 10px;
  border-radius: 10px;
  padding: 0px 20px;
  height: 40px;
}

.input-box-search {
  width: 338px;
  border: none;
  background: #F7F7F7;
  margin: 0px 0px 0px 10px;
  font-weight: 400;
  font-size: 12px;
}

.input-box-search:active {
  border: none;
}

.display-flex {
  display: flex;
}

.filter-blur-page {
  backdrop-filter: blur(6px);
  position: absolute;
  width: 100%;
  height: 900px;
  left: 0px;
  top: 0px;
  z-index: 9;
}

.filter-page-wrapper {
  position: absolute;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #FFFFFF;
  border-radius: 45px 0px 0px 45px;
  padding: 20px;
  left: 69.67%;
}

.search-filter-text {
  font-weight: 700;
  font-size: 20px;
  color: #182135;
  font-family: 'Open Sans';
  margin: 30px 0px;
}

.category-icon {
  height: 30px;
  width: 30px;
}

.category-icon-wrap {
  align-items: center;
  margin-right: 20px;
}

.home {
  position: absolute;
  left: 220px;
  margin: 0px 0px 0px 50px;
}

.apply-filters-btn {
  background: #503E9D;
  border-radius: 12px;
  width: 20%;
  height: 50px;
  color: #F7FAFC;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  position: fixed;
  bottom: 20%;
  border: none;
}

.content-center {
  display: flex;
  justify-content: center;
}

.activeFilterMenuBtn {
  background: rgba(251, 109, 58, 0.1) !important;
  color: #FB6D3A !important;
  font-weight: 700 !important;
}

.active {
  background-color: #503E9D;
  border-radius: 12px;
}
.active > div > span{
  color: #FFFFFF !important;
}

.active > div > svg{
  color: #FFFFFF !important;
}
.promo-icon {
  width: 30px;
  height: 20px;
  margin-right: 5px;
}

.promo-wrapper {
  margin: 20px 0px 50px 20px;
  font-weight: 700;
  font-family: 'Open Sans';
}

.currsor-pointer:hover {
  cursor: pointer;
}

.user-cart-details {
  margin-top: 100px;
  background: #FFFFFF;
  box-shadow: 0px 32px 96px -8px rgba(0, 0, 0, 0.06);
  border-radius: 20px;
}

.user-info-details {
  background: #503E9D;
  color: #FFFFFF;
  border-radius: 10px;
  height: 42px;
  width: 176px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  padding-left: 48px;
  margin: 25px 0px;
}

.category-btn {
  margin: 10px;
  font-weight: 700;
  background: #fff;
  border: none;
  color: #626264;
}

.home-heading {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 24px;
  font-weight: 700;
}

.sort-icon {
  transform: rotate(90deg);
  margin: 10px 30px;
}

.store-icon {
  color: #503E9D;
  margin: 0px 10px 0px 0px;
}

.store-icon-wrap {
  align-items: center;
}

.input-box-search:focus {
  outline: none;
}

.menu-filter-btn {
  padding: 10px 20px;
  background: #F7F7F7;
  border: none;
  color: #626264;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 10px 10px 0px;
  border-radius: 8px;
}

.open-filter-btn {
  color: #FB6D3A;
  background: #ffffff;
  border: none;
  padding: 10px;
  font-weight: 700;
}

.more-dropdown {
  margin: auto;
  margin-right: 0;
}

.clock-icon {
  margin: 10px 0px 20px 0px
}

.cross-icon {
  display: flex;
  justify-content: end;
  padding: 5px;
}

.order-ready {
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
}

.order-ready-middle-section-text {
  color: #626264;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}

.arrow-right-icon {
  margin: auto;
  padding-top: 4px;
}

.user-info-details-wrap {
  margin: 20px 0px 20px 23px;
}

.detail-text {
  margin: auto;
}

.user-name {
  font-weight: 600;
  font-size: 14px;
}

.user-email {
  color: #626264;
  font-weight: 400;
  font-size: 12px;
}

.user-name-wrapper {
  margin-top: 20%;
}

.sort-icon-user {
  transform: rotate(90deg);
  margin: auto;
  margin-right: 0;
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 18px;
  background: #503E9D;
  text-align: center;
  color: #F7FAFC;
  font-size: 16px;
  font-weight: 600;
  position: absolute;
  margin-left: 40px;
  padding-bottom:10px ;
}